bcrypt==3.1.4
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cognitive-face==1.4.1
Flask==1.0.1
Flask-SQLAlchemy==2.3.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
lml==0.0.1
MarkupSafe==1.0
passlib==1.7.1
pycparser==2.18
pyexcel==0.5.8
pyexcel-io==0.5.7
requests==2.18.4
six==1.11.0
SQLAlchemy==1.2.7
texttable==1.2.1
urllib3==1.22
Werkzeug==0.14.1
bcrypt==3.1.4
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cognitive-face==1.4.1
Flask==1.0.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
lml==0.0.1
MarkupSafe==1.0
passlib==1.7.1
pycparser==2.18
pyexcel==0.5.8
pyexcel-io==0.5.7
requests==2.18.4
six==1.11.0
SQLAlchemy==1.2.7
texttable==1.2.1
urllib3==1.22
Werkzeug==0.14.1
WTForms==2.1
