page-selection {
  ion-content {
    background: #000 !important;
    color: #FFF !important;
  }
  img {
    width: 300px !important;
    height: 300px !important;
    margin: 77px !important;
    margin-left: 130px !important;
  }
}
