{% extends "layout.html" %}

{% block content %}
    <script>
        $( document ).ready(function() {
            console.log( "ready!" );

            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'radar',
                data: {
                    labels: ['화남', '경멸하는', '역겨운', '무서운', '행복한', '평범한', '슬픈', '놀란'],
                    datasets: [{
                        label: 'My Emotion',
                        data: [0.125, 0.125, 0.125, 0.125, 0.125, 0.125, 0.125, 0.125],
                        "fill":true,
                        "backgroundColor":"rgba(54, 162, 235, 0.2)",
                        "borderColor":"rgb(54, 162, 235)",
                        "pointBackgroundColor":"rgb(54, 162, 235)",
                        "pointBorderColor":"#fff",
                        "pointHoverBackgroundColor":"#fff",
                        "pointHoverBorderColor":"rgb(54, 162, 235)"
                    }]
                },
                "options":{"elements":{"line":{"tension":0,"borderWidth":3}}}
            });
        });

        function getEmotionGraph(emotion_id) {
            console.log(emotion_id);
            $.ajax({
                method: "POST",
                url: "/getGraph",
                data: JSON.stringify({ emotion_id: emotion_id }),
                contentType: 'application/json;charset=UTF-8',
                 error : function(error) {
                    alert("Error!");
                },
                success : function(data) {
                    var ctx = document.getElementById("myChart").getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'radar',
                        data: {
                            labels: ['화남', '경멸하는', '역겨운', '무서운', '행복한', '평범한', '슬픈', '놀란'],
                            datasets: [{
                                label: 'My Emotion',
                                data: [data.anger, data.contempt, data.disgust, data.fear,
                                    data.happiness, data.neutral, data.sadness, data.surprise],
                                "fill":true,
                                "backgroundColor":"rgba(54, 162, 235, 0.2)",
                                "borderColor":"rgb(54, 162, 235)",
                                "pointBackgroundColor":"rgb(54, 162, 235)",
                                "pointBorderColor":"#fff",
                                "pointHoverBackgroundColor":"#fff",
                                "pointHoverBorderColor":"rgb(54, 162, 235)"
                            }]
                        },
                        "options":{"elements":{"line":{"tension":0,"borderWidth":3}}}
                    });
                }
            });

        }
    </script>
 <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">{{ current_user }}님의 누적 감정 기록</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="table-responsive table--no-card m-b-30">
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                    <tr>
                                        <th>Emotion ID</th>
                                        <th class="emotion-mid">Emotion</th>
                                        <th>Save Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for emotion in emotions %}
                                        <tr onclick="getEmotionGraph({{ emotion.id }})">
                                            <td class="emotion-id">{{ emotion.id }}</td>
                                            <td class="emotion-mid">{{ emotion.result }}</td>
                                            <td>{{ emotion.date }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright © 2018 Ajou ABC. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->

{% endblock %}