{% extends "layout.html" %}

{% block content %}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="overview-wrap">
                        <h2 class="title-1">Anger</h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="overview-wrap">
                        <h2 class="title-1">Sadness</h2>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="static/images/therapy/Anger1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title mb-3">분노 치료에 도움되는 조언 6가지</h4>
                            <p class="card-text">1. 36계 줄행랑<br>
                                먼저 해야 할 것은 피하는 것이다. 분노를 표출하기 전에 상황을 모면하는 것이 최상책이다.
                            </p>
                        </div>
                        <div class="card-footer">
                            <button onclick="window.open('http://news.joins.com/article/17123085')" class="btn btn-outline-secondary btn-lg active">더보기</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="static/images/therapy/sadness1.png" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title mb-3">“우울증 환자 80%는 혼자 해결하려다 병키워… 우울증은 치료하면 좋아지는 병입니다"</h4>
                            <p class="card-text">우울증은 ‘마음의 감기’라고 불리듯 누구나 걸릴 수 있는 병이다.<br>
                                경희대학교 정신건강의학과 백종우 교수와의 인터뷰를 확인해보세요.
                            </p>
                        </div>
                        <div class="card-footer">
                            <button onclick="window.open('http://health.chosun.com/site/data/html_dir/2018/02/20/2018022002428.html')" class="btn btn-outline-secondary btn-lg active">더보기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="static/images/therapy/Anger2.png" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title mb-3">한국 심리 상담 센터</h4>
                            <p class="card-text">분노는 치료가 가능합니다.<br>
                                분노심리치료 전문기관인 한국 심리 상담 센터에서 치료받으세요!
                            </p>
                        </div>
                        <div class="card-footer">
                            <button onclick="window.open('http://mykpcc.com/bbs/board.php?bo_table=07_8')" class="btn btn-outline-secondary btn-lg active">더보기</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="static/images/therapy/sadness2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title mb-3">삼성서울병원 우울증센터</h4>
                            <p class="card-text">우울증은 치료가 가능합니다!<br>
                                우울증을 방치하지마시고 전문가와 상담하세요!
                            </p>
                        </div>
                        <div class="card-footer">
                            <button onclick="window.open('http://www.samsunghospital.com/dept/main/index.do?DP_CODE=DEP&MENU_ID=001001')" class="btn btn-outline-secondary btn-lg active">더보기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="static/images/therapy/Anger3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title mb-3">마음사랑 인지행동치료센터</h4>
                            <p class="card-text">분노의 원인을 파악하세요!<br>
                                분노를 다루기 위한 인지행동치료는 크게 네 가지 요소로 구성되어 있습니다.
                                첫 번째 요소는 자기관찰로서, 분노가 일어날 때 먼저 자신의 상태를 객관적으로 관찰할 수 있어야 합니다.
                            </p>
                        </div>
                        <div class="card-footer">
                            <button onclick="window.open('http://www.cbt.or.kr/content/adult_clinic/adult_clinic08.jsp')" class="btn btn-outline-secondary btn-lg active">더보기</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="static/images/therapy/sadness3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title mb-3">북부종합사회복지관</h4>
                            <p class="card-text">우울증을 다양한 프로그램으로 치료해보세요!<br>
                                우울증척도검사를 통해 우울증 지수가 높은 어르신을 대상으로 우울증 개선 및 예방할 수 있도록 집단프로그램, 교육, 나눔봉사단, 건강운동프로그램 등을 진행하는 사업입니다.
                            </p>
                        </div>
                        <div class="card-footer">
                            <button onclick="window.open('http://www.bookboo.or.kr/bbs/board.php?bo_table=b02_03_05')" class="btn btn-outline-secondary btn-lg active">더보기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}